/* Основной цвет шрифта Roboto серый color: #757575; */
/* Вторичный цвет шрифта Roboto черный color:#212121; */
/* Вторичный цвет шрифта Roboto белый color: #FFFFFF; */
/* Цвет активной ссылки color: #2196F3 */
/* Цвет шрифта адреса в футере color: rgba(255, 255, 255, 0.6); */
/* Первичный цвет фона background: #FFFFFF; */
/* Вторичный цвет фона background: #2F303A; */
/* Цвет фона секции "Наша команда" background: #F5F4FA; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-link-color: #2196f3;
  --accent-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --accent-bg-color: #2f303a;
  --accent-bg-second-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

/* Страница "Студия" */
/* Классы для точечного сброса всроенных настроек */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Оформление heder */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--accent-link-color);
}
/* #2196F3 */
.logo-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--title-text-color);
}
/* Навигация */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-link-color);
}
.site-nav .link.current {
  color: var(--accent-link-color);
}
.contakt .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--title-text-color);
}
.contakt .link:hover,
.contakt .link:focus {
  color: var(--accent-link-color);
}

/* Оформление main */
/* section-hero */
.hero {
  background-color: var(--accent-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 3.8;
  color: var(--accent-text-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--accent-text-color);
  background: var(--accent-link-color);
  cursor: pointer;
}
/* section "Наши преимущества" и "Чем мы занимаемся" */
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  color: var(--title-text-color);
}
.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--title-text-color);
}
/* "Наша команда" */
.team {
  background: var(--accent-bg-second-color);
}

/* footer */
.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: var(--accent-text-color);
}
.footer {
  background: var(--accent-bg-color);
}
.footer-adress {
  font-style: normal;
  color: var(--accent-text-color);
}
.footer-contact .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--footer-text-color);
}
.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-link-color);
}

/* Страница "Портфолио" */
/* Секция main */
.example {
}
.example-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--accent-bg-second-color);
  color: var(--title-text-color);
  cursor: pointer;
}
.example-button:hover,
.example-button:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-link-color);
}
.page-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.3;
  color: var(--title-text-color);
}
.page-text .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
.page-text .link:hover,
.page-text .link:focus {
  color: var(--accent-link-color);
}
